
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Megabite - A Game of Search">
    <meta name="author" content="Team MegaBite - University of Glasgow WAD2">
    <title>MegaBite</title>
	
	<!-- core CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/animate.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/prettyPhoto.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/responsive.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}css/modals.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}css/game.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="{{ MEDIA_URL }}images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ MEDIA_URL }}images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ MEDIA_URL }}images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ MEDIA_URL }}images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ MEDIA_URL }}images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->
	
    <header id="header">

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/game/index"><img src="{{ MEDIA_URL }}images/logo2.png" width="200" height="52" alt="logo"></a>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="/game/index">Home</a></li>
						<li><a href="/game/leaderboards/">LeaderBoards</a></li>
						<li><a href="#" class="modal_button" modal-value="modal_d">About</a></li>
						{% if user.is_authenticated %}
						<li><a href="/game/safehouse/">SafeHouse</a></li>
						<li><a href="/game/play/">Play</a></li>
                        <li><a href="/game/logout">LogOut</a></li>
						{% else %}
						<li><a href="#" class="modal_button" modal-value="modal_a">Register</a></li>
						<li><a href="#" class="modal_button" modal-value="modal_b">Login</a></li>
						{% endif %}
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
		
    </header><!--/header-->
	
	<div id="modal_container"></div>
	<div id="overlay"></div>
	<body class="homepage">
	{% block body_block %}{% endblock %}
	</body>

    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.prettyPhoto.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.isotope.min.js"></script>
    <script src="{{ STATIC_URL }}js/main.js"></script>
    <script src="{{ STATIC_URL }}js/wow.min.js"></script>
	<script src="{{ STATIC_URL }}js/modals.js"></script>
	<script src ="{{ STATIC_URL }}js/game.js"></script>
</html>



