{% extends 'base.html' %}

{ % load staticfiles % }

{% block title %}Edit Profile{% endblock %}

{% block body_block %}

	<p></br></p>
    <section id="contact-page">
        <div class="container">
			<div class="center">
				<div class="center wow fadeInDown">  
	                <h2>Edit Profile</h2>
	            </div> 
			</div>
			<div id="form">
				<form id="user_form" method="post" action="/game/edit_profile/" enctype="multipart/form-data">
				{% csrf_token %}
					<input name="username" type="username" placeholder="Username" />
					<input name="password" type="password" placeholder="Password" />
					<input name="profile_picture" type="file" accept="/image*" />
					<input type="submit" value="Submit" />
				</form>
			</div>
		</div>
	</section>

{% endblock %}