{% extends 'base.html' %}

{ % load staticfiles % }

{% block title %}Game{% endblock %}

{% block body_block %}

<script type="text/javascript">
window.onload = function(){
    achievement = {{ adata|safe }};
	if (achievement.achieve == true) {
		console.log('Got here');
		buildModalAchievement(achievement.badge, achievement.desc, achievement.icon);
		$('.close_button').addClass('modal_open');
		$('#closebtn').addClass('modal_open');
		$(overlay).addClass('modal_open');
		dismissModal();
		}
	}
</script>

	<h2>Time until nightfall: {{ tleft }}</h2>
	{% if rooms %}
	<h2>Inside house: {{ currentHouse }}</h2></br>
	{% endif %}
	{% if street %}
	<h2>{{ currentStreet }}</h2></br>
	{% endif %}
	{% if zombies %}
	 <h2>You're being attacked by {{ zombies }} zombies!</h2></br>
	{% endif %}
	<h2>{{ state }}</h2>
	<h2>{% autoescape off %} {{ status }} {% endautoescape %}</h2>
		<form action="" method="post">
		{% csrf_token %}
		<div class="collapse navbar-collapse navbar-right">
		<h2> Options </h2>
         <ul class="nav navbar-nav">
		{% for i in options %}
			<li><a href=""><input type="submit" class="btn-dark" name={{ i }} value={{ i }} /></a></li>
		{% endfor %}
		</ul>
		</div>
		{% if street %}
		<div class="collapse navbar-collapse navbar-right">
		<h2> Houses </h2>
         <ul class="nav navbar-nav">
		{% for i in street %}
			<li><a href=""><input type="submit" name={{ i }} value={{ i }} /></a></li>
		{% endfor %}
		</ul>
		</div>
		{% endif %}
		{% if rooms %}
		<div class="collapse navbar-collapse navbar-right">
		<h2> Rooms </h2>
         <ul class="nav navbar-nav">
		{% for i in rooms %}
			<li><a href=""><input type="submit" name={{ i }} value={{ i }} /></a></li>
		{% endfor %}
		</ul>
		</div>
		{% endif %}
		</form>
{% endblock %}
		