{% extends 'base.html' %}

{ % load staticfiles % }

{% block title %}Home{% endblock %}

{% block body_block %}
	<section id="partner" size=90vh>
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>A game of search and survival in a zombie apocalypse</h2>
				<h3>Do you think you can handle it?</h3>
            </div>    

            <div class="partners">
                <ul>
                    <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" src="{{ STATIC_URL }}images/z1.png"></a></li>
                    <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" src="{{ STATIC_URL }}images/z2.png"></a></li>
                    <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms" src="{{ STATIC_URL }}images/z3.png"></a></li>
                    <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms" src="{{ STATIC_URL }}images/z4.png"></a></li>
                    <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1500ms" src="{{ STATIC_URL }}images/z1.png"></a></li>
                </ul>
            </div>        
        </div><!--/.container-->
    </section><!--/#partner-->
{% endblock %}