{% extends 'base.html' %}

{ % load staticfiles % }

{% block title %}Home{% endblock %}

{% block body_block %}
	<section id="partner" size=90vh>
        <div class="container">   

            <div class="partners">
                <ul>
                    <li> <img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" src="{{ MEDIA_URL }}images/z1.png"></li>
                    <li> <img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" src="{{ MEDIA_URL }}images/z2.png"></li>
                    <li> <img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms" src="{{ MEDIA_URL }}images/z3.png"></li>
                    <li> <img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms" src="{{ MEDIA_URL }}images/z4.png"></li>
                    <li> <img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1500ms" src="{{ MEDIA_URL }}images/z1.png"></li>
                </ul>
            </div> 
			<div class="centered">
			<div class="info">
				<div class="about_text">
						<p>
							<br>
							<br>
							<br>
							<p>MegaBite is a search game set in a zombie apocalypse.</p></br>
							<p>Search through houses, defeat zombies, collect food and</p> 
							<p>ammo and find survivors.</p><br>
							<p>The aim is to survive for as long as possible.</p></br>
							<p>GOOD LUCK!</p></br>
							<p><a href="#" class="modal_button" modal-value="modal_a">Click to Register</a></p>
					</div>
				</div>
				</div>
			</div>	
        </div><!--/.container-->
    </section><!--/#partner-->
{% endblock %}