{% extends 'base.html' %}

{ % load staticfiles % }

{% block title %}LeaderBoards{% endblock %}

{% block body_block %}

	<p></br></p>
    <section id="contact-page">
        <div class="container">
			<div class="center">
				<div class="center wow fadeInDown">  
	                <h2>LeaderBoards</h2>
	            </div> 
				<div class="row contact-wrap"> 
					<table class="leaderboards">
						<caption>Top Killers</caption>
						<thead>
							<tr>
								<th><h1>Username</h1></th>
								<th><h1>No. of Kills</h1></th>
							</tr>
						</thead>
						<tbody>
							{% for i in kranks %}
							<tr>
								<td>{{i}}</td>
								<td>{{i.most_kills}}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					<table class="leaderboards">
					<caption>Top Survivors</caption>
						<thead>
							<tr>
								<th><h1>Username</h1></th>
								<th><h1>No. of Days</h1></th>
							</tr>
						</thead>
						<tbody>
							{% for y in sranks %}
							<tr>
								<td>{{y}}</td>
								<td>{{y.most_days_survived}}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
{% endblock %}	