{% extends 'base.html' %}

{ % load staticfiles % }

{% block title %}Register{% endblock %}

{% block body_block %}
	<p></br></p>
    <section id="contact-page">
        <div class="container">
			<div class="center">
			{% if reg %}
				<div class="center wow fadeInDown">  
	                <h2>Registration succesful!</h2>
	                <p class="lead">You have joined the fastest growing zombie game in this lab!</p></br>
					<p class="lead">You may now log in.</p>
	            </div> 
			{% else %}
				<div class="center wow fadeInDown">  
	                <h2>Registration failed</h2>
	                <p class="lead">Please try again.</p>
	            </div> 
			{% endif %}
			</div>
        </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#contact-page-->
{% endblock %}