{% extends 'base.html' %}

{ % load staticfiles % }

{% block title %}SafeHouse{% endblock %}

{% block body_block %}

	<p></br></p>
    <section id="contact-page">
        <div class="container">
			<div class="center">
				<div class="center wow fadeInDown">  
	                <h2>SafeHouse</h2>
					<h3>Welcome, {{username}}</h3>
	            </div> 
				<div class="row contact-wrap"> 
					<div class="profile_picture">
						{% if user.profile_picture == None %}
							<img class="profile_picture" src ="{{MEDIA_URL}}images/default.jpg"/>
						{% else %}
							<img src = {{ MEDIA_URL}}{{user.profile_picture}}></img>
						{% endif %}
						<a href="#" class="modal_button" modal-value="modal_c">Edit Profile</a></button>
					</div>
					<div class="tables">
						<table class="stats">
							<caption>User Stats</caption>
							<tr>
								<th> Most Kills</th>
								<td>{{kstat}}</td>
							</tr>
							<tr>
								<th> Most Days</th>
								<td>{{dstat}}</td>
							</tr>
							<tr>
								<th>Games Played</th>
								<td>{{gstat}}</td>
							</tr>
							<tr>
								<th>Largest Party</th>
								<td>{{pstat}}</td>
							</tr>
						</table>
						<table class="achievments">
							<caption>User Achievments</caption>
							<tr>
								<th>Description</th>
								<th>Badge</th>
								<th>Date</th>
							</tr>
							{% for i in badges %}
							<tr>
								<td>{{i.achievement.description}}</td>
								<td><img src={{MEDIA_URL}}{{i.achievement.icon}}></img></td>
								<td>{{i.earned_at}}</td>
							<tr>
							{% endfor %}
						</table>
					</div>	
				</div>
			</div>
		</div>
	</section>

{% endblock %}