{% extends 'base.html' %}

{ % load staticfiles % }

{% block title %}SafeHouse{% endblock %}

{% block body_block %}

	<p></br></p>
    <section id="contact-page">
        <div class="container">
			<div class="center">
				<div class="center wow fadeInDown">  
	                <h2>SafeHouse</h2>
					<h3>Welcome, {{username}}</h3>
	            </div> 
				<div class="row contact-wrap"> 
					<div class="profile_picture">
						{% if user.profile_picture == None %}
							<img class="profile_picture" src ="{{MEDIA_URL}}images/default.jpg"/>
						{% else %}
							<img src = {{ MEDIA_URL}}{{user.profile_picture}}></img>
						{% endif %}
						<a href="#" class="modal_button" modal-value="modal_c">Edit Profile</a>
					</div>
					<div class="tables">
						<table class="leaderboards">
							<caption>User Stats</caption>
							<tr>
								<td> Most Kills</td>
								<td>{{kstat}}</td>
							</tr>
							<tr>
								<td> Most Days</td>
								<td>{{dstat}}</td>
							</tr>
							<tr>
								<td>Games Played</td>
								<td>{{gstat}}</td>
							</tr>
							<tr>
								<td>Largest Party</td>
								<td>{{pstat}}</td>
							</tr>
						</table>
						</div>
						<div class="tables">
						<div class="achievements">
						<table class="leaderboards">
							<caption>User Achievments</caption>
							<tr>
								<th><h1>Description<h1></th>
								<th><h1>Badge</h1></th>
								<th><h1>Date</h1></th>
							</tr>
							{% for i in badges %}
							<tr>
								<td>{{i.achievement.description}}</td>
								<td><img src={{MEDIA_URL}}{{i.achievement.icon}}></img></td>
								<td>{{i.earned_at}}</td>
							<tr>
							{% endfor %}
						</table>
						</div>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</section>

{% endblock %}