{% extends 'base.html' %}

{ % load staticfiles % }

{% block title %}SafeHouse{% endblock %}

{% block body_block %}

	<p></br></p>
    <section id="contact-page">
        <div class="container">
			<div class="center">
				<div class="center wow fadeInDown">  
	                <h2>SafeHouse</h2>
					<h3>Welcome, {{username}}</h3>
	            </div> 
				<div class="row contact-wrap"> 
					<div class="tables">
						<table class="leaderboards">
							<caption>User Stats</caption>
							<tr>
								<th> Most Kills</th>
								<td>{{kstat}}</td>
							</tr>
							<tr>
								<th> Most Days</th>
								<td>{{dstat}}</td>
							</tr>
							<tr>
								<th>Games Played</th>
								<td>{{gstat}}</td>
							</tr>
						</table>		
					</div>
					<div class="profile_picture">
						{% if user.profile_picture == None %}
							<img class="profile_picture" src ="{{STATIC_URL}}images/default.jpg"/>
						{% else %}
							<img src = {{ MEDIA_URL}}{{user.profile_picture}}/>
						{% endif %}
						<a href="/game/edit_profile/">Edit Profile</a>
					</div>	
				</div>
			</div>
		</div>
	</section>

{% endblock %}